/* Shadows */
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 6px red;
}
h2{
    text-align: center;
    font-size: 40px;
    text-shadow: -1px 0 blue,0 1px red,1px 0 red, 0 -1px blue; 
}
.container{
    width: 300px;
    margin: auto;
    text-align: center;    
}
.container img{
    width: 100%;
}
.des{
    padding: 5px;
}
.des h3{
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px red;
}
.container:hover{
    box-shadow: 2px 2px black;
}